.color-shoes{
    display: flex;
   position: relative;
}
.color-shoes h3{
font-size: 15px;
margin: 10px 0;
width: 100px;
}
.color-shoes a{
width: 15px;
height: 15px;
border-radius: 50%;
margin: 0 10px;
margin-top: 13px;
float: left;
display: inline;
border: solid 1px black;

}
.color-shoes--white{
  
    background-color: white;
}
.color-shoes--green{
    background-color: green;
}
.color-shoes--red{
    background-color: red;
}
.color-shoes--black{
    background-color: black;
    
}
.color-shoes--blue{
    background-color: blue;
    
}
.color-shoes--yellow{
    background-color: yellow;
    
}

.color-shoes--white, .color-shoes--green, .color-shoes--red, .color-shoes--black{
    margin-top: 10px;
}
.sanpham-danhsach table {
    border-collapse: collapse;
    width: 100%;
}
.sanpham-danhsach th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}
.sanpham-danhsach th {
    background-color: #f2f2f2;
}
.image-container {
    width: 300px;
    height: 300px;
    border: 1px dashed #ccc;
    position: relative;
    overflow: hidden;
    margin-left: 78px;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-upload {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}
.sanpham-brand{
    display: flex;
    margin-top: 20px;
}